html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*width внутри  padding*/
}
body {
    background: lightblue;
    display: flex;
    justify-content: center; /*выравниает флекс - элементы по горизонтали*/
    align-items: center; /*выравниает флекс - элементы по вертикали*/
    min-height: 100vh;
}
.container{
    margin: 50px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.5);
}
.container .asider {
    position: relative;
    background: #003147;
    padding: 40px;
}
.container .main {
    position: relative;
    background: #fff;
    padding: 40px;
}
.Profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #fff;
}
img {
    position: relative;
    top: -25px;
    left: 0;
    width: 200px;
    object-fit: cover;
}
.Profile .photo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.Profile .Name, .dev, .Contact h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.Name{
    font-weight: 800;
    font-size: 1.2em;
}
.dev{
    font-weight: 200;
    font-size: 0.7em;
}